body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5vh;
    background: #020024;
    background: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 80%, rgba(12, 0, 71, 1) 100%);
}

.container{
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.input_group{
    margin-top: 1rem;
}

textarea{
    margin-top: 1.25rem;
    resize: none;
    height: 15vh;
    min-height: 100px;
}
